*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p,
span,
div {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
/***************
  OpenLayers main styles
***************/
.ol-zoom {
  left: unset;
  right: 8px;
}
